body{
    margin: 0;
}

.div-superior{
    height: 200px;
    background-color: #7500d9;
}

.div-inferior{
    background-color: linen;
}
.align-center{text-align: center;}
.div-form{
    width: 800px;
    height: 600px;
    background-color: white;
    margin: 0 auto;
    z-index: 100;
    position: relative;
    top: -50px;
}
h2{
    margin-left: 40px;
}
h3{
    display: inline;
    padding: 10px 20px 10px 20px;
}
h3:hover{
    color: #7500d9;
    font-weight: bold;
    border-bottom: 2px solid #7500d9;
}

.div-title-form h2{
    float: left;
    color: white;
}
.div-perfil{
    float: right;
    color: white;
}
.div-perfil i{
    font-size:24px;
    margin:14px 20px 0 0;
}
button{
    margin: 0 20px 0 0;
    color: #7500d9;
    font-weight: bold;
    background-color: white;
    padding:10px 26px; 
    border: none;
    border-radius: 3px;
}

.perfil-circle{
    float: right;
}

.circle {
    margin: 10px 20px 0 0;
    background-color: #aaa;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    overflow: hidden;
    position: relative;
  }
  
  .circle img {
    position: absolute;
    bottom: 0;
    width: 100%;
  }